.intro {
  background-color: #F0EEBB;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9999;
}
.intro .btn {    
    font-size: inherit;
    text-align: center;
    padding: .5em 1em;
    color: #fff;
    border: 1px solid #999;
    border: 0 rgba(0,0,0,0);
    background-color: #A6572D;
    text-decoration: none;
    border-radius: 2px;
    width: 100%;
}
.intro h1 {
  color: #A6572D;
  font-size: 12vw;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  margin: 5vh;
}
.intro figure{
  width: 100%;
  text-align: center;
}
.intro p {
  font-size: 6vw;
  padding: 5vw;
  text-align: center
}
.intro .btn {
  display: block;
  margin-top: 2vh;
  text-shadow: 1px 1px 1px #000;
}
.intro .foot-note {
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 0px;
  text-align: center;
}
.points {
  background-color: #301213;
  position: absolute;  
  color: #fff;
  padding: 10px 15px;  
}
.info {
  background-color: #E9D67C;
  position: absolute;
  padding: 15px;
  overflow: auto;
}
.loader {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.loader img {
  position: relative;
  left: 50%;
  top: 50%;
  width: 20vw;
  transform: translate(-50%, -50%);
}

.options {
  cursor: pointer;
  position: absolute;
  /* width: 35%; */
  /* height: 50%; */
  text-align: center;
  text-shadow: 1px 1px 3px #F0EEBB;
  padding: 10px 5px;
  word-break: word-break
}

.options h2 {
  position: absolute;
  font-size: 4vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#option-1 {
  background-color: #F0EEBB;
}
#option-2 {
  background-color: #DCB135;
}
#option-3 {
  background-color: #C88A2C;
}
#option-4 {
  background-color: #A6572D;
}

.points {  
  width: 100%;
  left: 0;
  bottom: 0;
  height: 8%;
}

@media (min-width: 601px)
{
  .info {
    width: 100%;
    height: 50%;
    left: 0;
    top: 0;
    font-size: 2.5vw;
  }  
  .intro h1 {
    font-size: 7vh;
  }
  .intro p {
    font-size: 4vh;
    max-width: 40vw;
    margin: 0px auto;
  }
  .points {
    font-size: 3vw;
  }
  .options {
    font-size: 4vw;
    height: 22%;
    width: 50%;
  }
  #option-1 {
    bottom: 28%;
  }
  #option-2 {
    bottom: 28%;
    left: 50%;
  }
  #option-3 {
    bottom: 8%;
  }
  #option-4 {
     bottom: 8%;
     right: 0px;
  }
}

@media (max-width: 600px)
{
  .options {
    font-size: 5vw;
    height: 25%;
    width: 25%;
  }
  .points {  
    bottom: 0%;
    height: 6%;
  }
  .info {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 75%;
    font-size:4.5vw;
  }
  #option-1 {
    left: 0px;
    top: 75%;
  }
  #option-2 {
    left: 25%;
    top: 75%;
  }
  #option-3 {
    left: 50%;
    top: 75%;
  }
  #option-4 {
    bottom: 0;
    right: 0;
  }
}
